---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<key>&location=Denver,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 20 Nov 2021 21:26:32 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver,
        CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-242731826"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-1300743769"}]}]}'
  recorded_at: Sat, 20 Nov 2021 21:26:32 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<appid>&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":-104.9847,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1637443552,"sunrise":1637416241,"sunset":1637451658,"temp":51.71,"feels_like":48.22,"pressure":1015,"humidity":35,"dew_point":25.77,"uvi":1,"clouds":98,"visibility":10000,"wind_speed":4,"wind_deg":56,"wind_gust":10,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1637442000,"temp":51.71,"feels_like":48.22,"pressure":1015,"humidity":35,"dew_point":25.77,"uvi":1,"clouds":98,"visibility":10000,"wind_speed":3.2,"wind_deg":88,"wind_gust":3.98,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.07},{"dt":1637445600,"temp":51.96,"feels_like":48.42,"pressure":1015,"humidity":33,"dew_point":24.73,"uvi":0.59,"clouds":98,"visibility":10000,"wind_speed":3.4,"wind_deg":115,"wind_gust":4.68,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.07},{"dt":1637449200,"temp":51.94,"feels_like":48.4,"pressure":1015,"humidity":33,"dew_point":24.71,"uvi":0.17,"clouds":98,"visibility":10000,"wind_speed":4.99,"wind_deg":79,"wind_gust":5.01,"weather":[{"id[...]
- request:
    method: get
    uri: https://api.openbrewerydb.org/breweries?by_city=Denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"aeb7ab9c2b78b5de968ade6615ac73f9"
    body:
      encoding: UTF-8
      string: '[{"id":"10-barrel-brewing-co-denver-denver","name":"10 Barrel Brewing
        Co - Denver","brewery_type":"large","street":"2620 Walnut St","address_2":null,"address_3":null,"city":"Denver","state":"Colorado","county_province":null,"postal_code":"80205-2231","country":"United
        States","longitude":"-104.9853655","latitude":"39.7592508","phone":"7205738992","website_url":null,"updated_at":"2021-10-23T02:24:55.243Z","created_at":"2021-10-23T02:24:55.243Z"},{"id":"14er-brewing-company-denver","name":"14er
        Brewing Company","brewery_type":"proprietor","street":"2801 Walnut St","address_2":null,"address_3":null,"city":"Denver","state":"Colorado","county_province":null,"postal_code":"80205-2235","country":"United
        States","longitude":"-104.9839636","latitude":"39.7614112","phone":"7207731437","website_url":"http://www.14erBrewing.com","updated_at":"2021-10-23T02:24:55.243Z","created_at":"2021-10-23T02:24:55.24[...]
