---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<appid>&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1642121451,"sunrise":1642083586,"sunset":1642118229,"temp":45.07,"feels_like":43.83,"pressure":1014,"humidity":65,"dew_point":34.03,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":3.27,"wind_deg":266,"wind_gust":3.15,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1642118400,"temp":44.28,"feels_like":44.28,"pressure":1014,"humidity":64,"dew_point":32.88,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":2.28,"wind_deg":252,"wind_gust":2.26,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1642122000,"temp":45.07,"feels_like":43.83,"pressure":1014,"humidity":65,"dew_point":34.03,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":3.27,"wind_deg":266,"wind_gust":3.15,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1642125600,"temp":44.01,"feels_like":42.24,"pressure":1014,"humidity":66,"dew_point":33.4,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":3.67,"wind_deg":251,"wind_gust":3.71,"weather":[{"id":804,"m[...]
